<IfModule mod_headers.c>
  Header onsuccess unset Strict-Transport-Security
  Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

  Header onsuccess unset X-Content-Type-Options
  Header always set X-Content-Type-Options "nosniff"

  <Files "*.html">
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'sha256-oZVe8EDFnWpHQn2Pre/au+g/cF4IapTjPizaE7xNUic=' https://www.google-analytics.com; img-src 'self' https://www.google-analytics.com; frame-ancestors 'none'"
  </Files>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{HTTP_HOST} !=volim-budoucnost.cz [OR]
  RewriteCond %{HTTPS} =off
  RewriteRule .? https://volim-budoucnost.cz%{REQUEST_URI} [R=301,L]

  <IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteCond %{HTTP_ACCEPT} \btext/html\b [NC,OR]
  RewriteCond %{HTTP_ACCEPT} =*/* [OR]
  RewriteCond %{HTTP_ACCEPT} =""
  RewriteRule .? %{REQUEST_FILENAME}.html [L]
</IfModule>
