Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

    <filesMatch "index.html">
        Header set Cache-Control "no-cache"
    </filesMatch>

    <filesMatch ".(css|js|png|woff2)$">
	    Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
